/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main {
	text-align: center;
}

.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.select2-container {
	padding-right:10px;
	width:300px;
}

#title_bar{
	background-color: black;
}

#title_bar img{
	width: 120px;
}

#left_c {
	width: 300px;
	display: inline-block;
	vertical-align: top;

}

#left_c_1 {
	background-color: white;
	border-radius: 5px;
	padding-bottom: 10px;
}

#left_c_2 {
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	text-align: left;
	font-size: 20px;
	color: #66757f;
	padding: 10px;
}

#left_c_2 img{
	width: 40px;
	height: 40px;
}

#right_c {
	width: 600px;
	background-color: white;
	margin-left: 5px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	padding: 10px;
	padding-bottom: 30px;

}

#columns {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}

#right_header {
	font-size: 20px;
	color: #66757f;
}

#right_c hr {
	margin-top: 0;
}

#tweets_g {
	padding-top: 5px;
	padding-left: 8px;
	text-align: left;
	font-size: 13px;
	color: #aaaaaa;

}

#generated {
	text-align: left;
	padding-left: 8px;
	color: #09abdc;
	font-size: 25px;
	margin-top: 0;
}

#college-pic img {
	height:50px;
	float:left;
	display:inline-block;
	padding: 2px 5px 0 2px;
}

#college-text {
	width:80%;
	float:left;
	display:inline-block;
}

.twitter-name {
	text-align:left;
	font-weight: bold;
}

#college-twitter {
	margin-bottom: 0;
}

#college-tweet {
	margin-top: 0;
	text-align: left;
}

.loader {
	margin:0 auto;
}
