/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main {
	text-align: center;
}

#title_bar{
	background-color: black;
}

#title_bar img{
	width: 120px;
}

#left_c {
	width: 300px;
	display: inline-block;
	vertical-align: top;

}

#left_c_1 {
	background-color: white;
	border-radius: 5px;
}

#left_c_2 {
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	text-align: left;
	font-size: 20px;
	color: #66757f;
	padding: 10px;
}

#left_c_2 img{
	width: 40px;
	height: 40px;
}

#right_c {
	width: 600px;
	padding: 20px;
	background-color: white;
	margin-left: 5px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;

}

#columns {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
}












